#container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

div{
    height: 40px;
    width: 40px;

}
#container div:active{
    background-color: black;
}
#container div:focus{
    background-color: red;
}