.D3 {
    height: 20vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
        "imagen1 imagen1 stats-1 stats-1 stats2 stats2"
        "imagen1 imagen1 stats-1 stats-1 stats2 stats2"
        "imagen1 imagen1 stats3 stats3 stats3 stats3"
        "imagen1 imagen1 stats3 stats3 stats3 stats3"
        "imagen1 imagen1 magia1 magia1 magia2 magia2"
        "imagen1 imagen1 magia1 magia1 magia2 magia2";
    margin-bottom: 3em;
}

.stats-1 {
    grid-area: stats-1;
}

.stats2 {
    grid-area: stats2;
}

.stats3 {
    grid-area: stats3;
}

.imagen1 {
    grid-area: imagen1;
}

.magia1 {
    grid-area: magia1;
}

.magia2 {
    grid-area: magia2;
}

.atributos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1vh;
}

.contenedorAtributo{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 2.5vh;
}

.dadosDotes {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "dados contenedorDotes";
  }
  
  .dados { grid-area: dados; }
  
  .contenedorDotes { grid-area: contenedorDotes; }
  